%div{:class => "document #{cycle}"}
  .title
    = link_to document.title, document
  .tags
    - if document.tag_list.empty?
      (no tags)
    - else
      tags:
      %span.tag_list= document.tag_list
  