%div{:class => "document #{cycle}"}
  .title
    = link_to document.title, document
  .tags
    - if document.tag_list.empty?
      (no tags)
    - else
      tags:
      %span.tag_list= raw document.tags.map{|tag| link_to(tag.name, :controller => "tags", :action => "show", :id => tag)}.join(', ')
  