%h1 all Documents

%table
  %tr
    %th Title
    %th Tags

  - @documents.each do |document|
    %tr
      %td= link_to document.title, document
      %td= document.tag_list.join(', ')
      
%br

= link_to 'New Document', new_document_path
