%h1 Tagged Chunks of Text

%table
  %tr
    %th document
    %th text
    %th tags
    
  - @chunks.each do |chunk|
    %tr
      %td.document_title= link_to chunk.document.title, chunk.document
      %td.text= chunk.text
      %td.tags= chunk.tag_list
