// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#documents_show{
  .document{
    .body{
      float: left;
      width: 50em;
      background-color: #eef;
      min-height: 400px;
    }
    .tagging{
      float: left;
      width: 30em;
      background-color: #fee;
      min-height: 400px;
      .chunk_text{
        font-size: 1.2em;
        color: green;
      }
    }
  }
}
  