// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#documents_index{
  .documents{
    margin-top: 1em;
    border-top: 2px solid #ccc;
    .document{
      margin-top: 0.5em;
      padding: 0.4em 1em;
      &.odd{
        background-color: #efe;
      };
      .title{
        font-size: 1.5em;
        a{
          text-decoration: none;
          &:hover{
           text-decoration: underline; 
          }
        }
      }
      .tags{
        color: #ccc;
        .tag_list{
          color: green;
        }
      }
    }
  }
  
}


#documents_show{
  .document{
    .body{
      float: left;
      width: 50em;
      background-color: #eef;
      min-height: 400px;
    }
    .tagging{
      float: left;
      width: 30em;
      background-color: #fee;
      min-height: 400px;
      .chunk_text{
        font-size: 1.2em;
        color: green;
      }
    }
  }
}
  