.chunk{
  padding: 1em;
  border-bottom: 1px solid black;
  .text{
    color: green;
    font-size: 1.2em;
  }
  .document_title{
    a{
      color: #55d
    }
  }
  .tagged_by{
    color: #aaa;
  }
}